<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>谁是炮仗王?</title>
  <script src="/delaunay.js"></script>
  <meta name="viewport"
    content="width=device-width; initial-scale=1; maximum-scale=10; minimum-scale=1; user-scalable=1;">
</head>

<body>
  <div id="root"></div>
</body>

</html>
