<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.a2q.chess">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.ChessApp"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainMenuActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.GameViewActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.AboutActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.InfoActivity" android:screenOrientation="portrait"></activity>

    </application>

</manifest>